<template>
  <f7-page name="account" class="bgpage" style="text-align:center;background-color:white">
    <f7-navbar class="bgnav" sliding>
     <f7-nav-left>
        <f7-link icon-f7="icon-arrow_left" @click="$f7router.back()"></f7-link>
      </f7-nav-left>
      <f7-nav-title style="font-size:15px;margin:0px">
        ACCOUNT
      </f7-nav-title>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block style="margin:0px;padding:30px;height:260px;background-color:#E0E0E0">
      <f7-block style="border-radius:50%;padding:0px;margin-top:0px;margin-left: auto; margin-right: auto; height:150px;width:150px; background-color:white">
      <!-- <f7-button style="border-radius:50%;width:25px;height:50px;position:absolute;right:0px;bottom:0px;background-color:black"></f7-button> -->
    </f7-block>
    <h3 class="mpzero" style="color:#424242">Rohit Chikhalge</h3>
    </f7-block>
    <f7-block style="margin:0px">
     <f7-list style="margin:20px 0px">
  <f7-list-item title="HD ORDERS" style="font-size:13px" link="/hdorders/"></f7-list-item>
  <f7-list-item title="WISHLIST" style="font-size:13px" link="/wishlist/"></f7-list-item>
  <f7-list-item title="ADDRESS" style="font-size:13px" link="/address/"></f7-list-item>
  <f7-list-item title="PROFILE DETAILS" style="font-size:13px" link="/profile/"></f7-list-item>
  <!-- <f7-list-item title="SETTINGS" style="font-size:13px" link="/settings/"></f7-list-item> -->
</f7-list>
</f7-block>
<f7-block style="margin:0px;padding-bottom:15px">
<f7-button style="font-size:12px;font-weight:bold" outline color="gray">LOGOUT</f7-button>
</f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Account',
  data() {
    return {
      title: 'About Page'
    };
  }
};
</script>
