<template>
  <f7-page class="bgpage" name="address" style="background-color:white">
    <f7-navbar class="bgnav" back-link="Back" sliding>
      <f7-nav-title style="font-size:15px;margin:0px">
        ADDRESS
      </f7-nav-title>
    </f7-navbar>
    <f7-block-title style="margin-top:15px"><h5 class="mpzero">DEFAULT ADDRESS</h5></f7-block-title>
    <f7-block>
        <f7-card style="margin:0px">
            <f7-card-content style="margin:0px;padding:10px 10px">
                <h4 class="mpzero" style="color:#757575">Rohit Chikhalge</h4>
            <h5 class="mpzero">C-114, RIT Boys Hostel Islampur</h5>
            <h5 class="mpzero">Urun Islampur</h5>
            <h5 class="mpzero">Sangli-415409</h5>
            <h5 class="mpzero">Maharashtra</h5>
            <h5 class="mpzero">Mobile : 7721821177</h5>
            </f7-card-content>
            <f7-card-footer>
                  <f7-segmented style="width:100%">
  <f7-button popup-open =".editadd" color="green" style="font-size:12px;font-weight:bold">EDIT</f7-button>
  <f7-button color="red" style="font-size:12px;font-weight:bold">DELETE</f7-button>
  </f7-segmented>
            </f7-card-footer>
        </f7-card>
    </f7-block>
        <f7-button popup-open =".editadd" fill color="gray" style="border-radius:0px;font-size:12px;font-weight:bold;position:fixed;bottom:0;z-index:999;width:100%">+ ADD NEW ADDRESS</f7-button>

        <f7-popup class="editadd">
            <f7-navbar class="bgnav" sliding>
                <f7-nav-left>
                            <f7-link icon-f7="icon-close" popup-close></f7-link>
                </f7-nav-left>
      <f7-nav-title style="font-size:15px;margin:0px">
        {{title}}
      </f7-nav-title>
    </f7-navbar>
    <!-- <f7-block-title style="margin-top:15px"><h5 class="mpzero">{{title}}</h5></f7-block-title> -->
    <f7-block style="padding:0px;margin:0px">
    <f7-list no-hairlines-md style="padding:0px;margin:0px">
  <f7-list-item>
    <f7-label floating>Name</f7-label>
    <f7-input type="text" placeholder="Your name" clear-button></f7-input>
  </f7-list-item>

  <f7-list-item>
    <f7-label floating>Mobile</f7-label>
    <f7-input type="password" placeholder="Your password" clear-button></f7-input>
  </f7-list-item>

  <f7-list-item>
    <f7-label floating>Area/ Locality</f7-label>
    <f7-input type="email" placeholder="Your e-mail" clear-button></f7-input>
  </f7-list-item>

  <f7-list-item>
    <f7-label floating>Detail Address</f7-label>
    <f7-input type="url" placeholder="URL" clear-button></f7-input>
  </f7-list-item>

  <f7-list-item style="color:#9E9E9E">
    <label>Type of Address</label>
    <f7-list style="margin:0px">
  <f7-list-item radio value="Home" name="demo-radio" checked title="Home"></f7-list-item>
  <f7-list-item radio value="Work" name="demo-radio" title="Work"></f7-list-item>
</f7-list>
  </f7-list-item>

</f7-list>
        
       
    </f7-block>
     <f7-segmented style="width:100%;position:fixed;bottom:0;z-index:999">
  <f7-button popup-close color="gray" outline style="font-size:12px;font-weight:bold;border-radius:0px">CANCEL</f7-button>
  <f7-button fill color="gray" style="font-size:12px;font-weight:bold;border-radius:0px">SAVE</f7-button>
  </f7-segmented>
        </f7-popup>
  </f7-page>
</template>
<script>
export default {
  name: 'Address',
  data() {
    return {
      title: 'ADD NEW ADDRESS'
    };
  }
};
</script>
