<template>
  <f7-page class="bgpage" style="background-color:white" name="categorymen">
    <f7-navbar back-link="Back" class="bgnav" sliding>
    
      <f7-nav-title style="font-size:15px;margin:0px">
        MENS CLOTHING
      </f7-nav-title>
      <f7-nav-right>
        <f7-link style="padding:0 10px" icon-f7="icon-search_strong" href="/search/"></f7-link>
        <f7-link style="padding:0 10px" icon-f7="icon-heart_fill" href="/wishlist/"></f7-link>
        <f7-link style="padding:0 10px" href="/hdcart/"><img src="/static/img/icons/delivery-motorbike.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block style="margin-top:15px"> 
<f7-list accordion style="margin:0px" no-hairlines-md>
  <f7-list-item accordion-item title="TOP WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="T-Shirts"
        style="font-size:12px"
        link="/products/"
        link-view="#main-view"
        panel-close/>
        <f7-list-item 
        title="Formal Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Casual Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Jackets"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweatshirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kurtas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sherwanis"
        style="font-size:12px"/>
        <f7-list-item 
        title="Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Blazers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Pullovers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cardigans"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BOTTOM WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Jeans"
        style="font-size:12px"/>
        <f7-list-item 
        title="Trousers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cargos"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shorts & 3/4ths"
        style="font-size:12px"/>
        <f7-list-item 
        title="Track Pants"
        style="font-size:12px"/>
        <f7-list-item 
        title="Dhotis"
        style="font-size:12px"/>
        <f7-list-item 
        title="Lungis"
        style="font-size:12px"/>
        <f7-list-item 
        title="Pyjamas"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="SPORTS WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sports T-Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Track Pants"
        style="font-size:12px"/>
        <f7-list-item 
        title="Track Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shorts"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="INNERWEAR & SLEEPWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Briefs & Trunks"
        style="font-size:12px"/>
        <f7-list-item 
        title="Vests"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boxers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Thermals"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="FABRICS" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Shirt Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Multi-purpose Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kurta Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Trouser Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Suit Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Safari Fabrics"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="OTHERS" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Raincoats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Wind Cheaters"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="ACCESSORIES" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Socks"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ties"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cofflinks"
        style="font-size:12px"/>
        <f7-list-item 
        title="Mufflers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Scarfs"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shirt Studs"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cravats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Bandanas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Arm Warmers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Pocket Squares"
        style="font-size:12px"/>
        <f7-list-item 
        title="Handkerchiefs"
        style="font-size:12px"/>
        <f7-list-item 
        title="Suspenders"
        style="font-size:12px"/>
        <f7-list-item 
        title="Gloves"
        style="font-size:12px"/>
        <f7-list-item 
        title="Turbans"
        style="font-size:12px"/>
        <f7-list-item 
        title="Towels"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Categorymen',
  data() {
    return {
      title: 'Services Page'
    };
  }
};
</script>
