<template>
  <f7-page class="bgpage" style="background-color:white" name="categorymen">
    <f7-navbar back-link="Back" class="bgnav" sliding>
    
      <f7-nav-title style="font-size:15px;margin:0px">
        WOMENS CLOTHING
      </f7-nav-title>
      <f7-nav-right>
        <f7-link style="padding:0 10px" icon-f7="icon-search_strong" href="/search/"></f7-link>
        <f7-link style="padding:0 10px" icon-f7="icon-heart_fill" href="/wishlist/"></f7-link>
        <f7-link style="padding:0 10px" href="/hdcart/"><img src="/static/img/icons/delivery-motorbike.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block style="margin-top:15px"> 
        <f7-list accordion style="margin:0px" no-hairlines-md>
  <f7-list-item accordion-item title="WESTERN WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Tops"
        style="font-size:12px"/>
        <f7-list-item 
        title="Tunics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kaftans"
        style="font-size:12px"/>
        <f7-list-item 
        title="Body Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Polos & T-Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Dresses"
        style="font-size:12px"/>
        <f7-list-item 
        title="Jeans"
        style="font-size:12px"/>
        <f7-list-item 
        title="Trousers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Capris"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cargos"
        style="font-size:12px"/>
        <f7-list-item 
        title="Dungarees"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shorts & Skirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Fashion Jackets"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="ETHNIC WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sarees"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kurtas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Dress Materials"
        style="font-size:12px"/>
        <f7-list-item 
        title="Lehenga Choli"
        style="font-size:12px"/>
        <f7-list-item 
        title="Blouse"
        style="font-size:12px"/>
        <f7-list-item 
        title="Harem Pants"
        style="font-size:12px"/>
        <f7-list-item 
        title="Patialas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Leggings"
        style="font-size:12px"/>
        <f7-list-item 
        title="Anarkali"
        style="font-size:12px"/>
        <f7-list-item 
        title="Salwars"
        style="font-size:12px"/>
        <f7-list-item 
        title="Blouse Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Chudidars"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="WINTER & SEASONAL" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sweaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Pullovers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweatshirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Jacket"
        style="font-size:12px"/>
        <f7-list-item 
        title="Raincoats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Windcheaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cardigans"
        style="font-size:12px"/>
        <f7-list-item 
        title="Coats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ponchos"
        style="font-size:12px"/>
        <f7-list-item 
        title="Thermals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Winter Jackets"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shawls"
        style="font-size:12px"/>
        <f7-list-item 
        title="Mufflers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Gloves"
        style="font-size:12px"/>
        <f7-list-item 
        title="Socks"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="SPORTS & GYM WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Track Pants"
        style="font-size:12px"/>
        <f7-list-item 
        title="Track Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Track Tops"
        style="font-size:12px"/>
        <f7-list-item 
        title="T-Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Socks & Stockings"
        style="font-size:12px"/>
        <f7-list-item 
        title="Tights"
        style="font-size:12px"/>
        <f7-list-item 
        title="Caps"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sports Bras"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shorts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sports Jackets"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sarongs"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="LINGERIE & SLEEP WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Bras"
        style="font-size:12px"/>
        <f7-list-item 
        title="Panties"
        style="font-size:12px"/>
        <f7-list-item 
        title="Night Dresses & Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Swim & BeachWears"
        style="font-size:12px"/>
        <f7-list-item 
        title="Gowns"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Categorymen',
  data() {
    return {
      title: 'Services Page'
    };
  }
};
</script>