<template>
  <f7-page class="bgpage" style="background-color:white" name="categorymen">
    <f7-navbar back-link="Back" class="bgnav" sliding>
    
      <f7-nav-title style="font-size:15px;margin:0px">
        WATCHES
      </f7-nav-title>
      <f7-nav-right>
        <f7-link style="padding:0 10px" icon-f7="icon-search_strong" href="/search/"></f7-link>
        <f7-link style="padding:0 10px" icon-f7="icon-heart_fill" href="/wishlist/"></f7-link>
        <f7-link style="padding:0 10px" href="/hdcart/"><img src="/static/img/icons/delivery-motorbike.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block style="margin-top:15px"> 
        <f7-list accordion style="margin:0px" no-hairlines-md>
  <f7-list-item accordion-item title="DIAL DISPLAY" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Analogue"
        style="font-size:12px"/>
        <f7-list-item 
        title="Digital"
        style="font-size:12px"/>
        <f7-list-item 
        title="Analogue Digital"
        style="font-size:12px"/>
        <f7-list-item 
        title="Binary"
        style="font-size:12px"/>
        <f7-list-item 
        title="Chronograph"
        style="font-size:12px"/>
        <f7-list-item 
        title="Time Teacher"
        style="font-size:12px"/>
        <f7-list-item 
        title="Smart Watches"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="DIAL SHAPE" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Asymmetrical"
        style="font-size:12px"/>
        <f7-list-item 
        title="Oval"
        style="font-size:12px"/>
        <f7-list-item 
        title="Rectangular"
        style="font-size:12px"/>
        <f7-list-item 
        title="Round"
        style="font-size:12px"/>
        <f7-list-item 
        title="Square"
        style="font-size:12px"/>
        <f7-list-item 
        title="Tonheau"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BAND MATERIAL" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Leather"
        style="font-size:12px"/>
        <f7-list-item 
        title="Stainless Steel"
        style="font-size:12px"/>
        <f7-list-item 
        title="Rubber"
        style="font-size:12px"/>
        <f7-list-item 
        title="Gold Plated"
        style="font-size:12px"/>
        <f7-list-item 
        title="Silicon"
        style="font-size:12px"/>
        <f7-list-item 
        title="Plastic"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ceramic"
        style="font-size:12px"/>
        <f7-list-item 
        title="Nylon"
        style="font-size:12px"/>
        <f7-list-item 
        title="Resin"
        style="font-size:12px"/>
        <f7-list-item 
        title="Rose Gold"
        style="font-size:12px"/>
        <f7-list-item 
        title="Silver"
        style="font-size:12px"/>
        <f7-list-item 
        title="Synthetic"
        style="font-size:12px"/>
        <f7-list-item 
        title="Titanium"
        style="font-size:12px"/>
        <f7-list-item 
        title="Tungsten"
        style="font-size:12px"/>
        <f7-list-item 
        title="Yellow Gold"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="PRICE" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Under Rs.499"
        style="font-size:12px"/>
        <f7-list-item 
        title="Under Rs.999"
        style="font-size:12px"/>
        <f7-list-item 
        title="Under Rs.1499"
        style="font-size:12px"/>
        <f7-list-item 
        title="Under Rs.1999"
        style="font-size:12px"/>
        <f7-list-item 
        title="Under Rs.2499"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Categorymen',
  data() {
    return {
      title: 'Services Page'
    };
  }
};
</script>