<template>
  <f7-page class="bgpage" style="background-color:white" name="categorymen">
    <f7-navbar back-link="Back" class="bgnav" sliding>
    
      <f7-nav-title style="font-size:15px;margin:0px">
        FOOTWEAR
      </f7-nav-title>
      <f7-nav-right>
        <f7-link style="padding:0 10px" icon-f7="icon-search_strong" href="/search/"></f7-link>
        <f7-link style="padding:0 10px" icon-f7="icon-heart_fill" href="/wishlist/"></f7-link>
        <f7-link style="padding:0 10px" href="/hdcart/"><img src="/static/img/icons/delivery-motorbike.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block style="margin-top:15px"> 
        <f7-list accordion style="margin:0px" no-hairlines-md>
  <f7-list-item accordion-item title="MENS FOOTWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sports Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Casual Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Formal Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sandals & Floaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Flip-Flops"
        style="font-size:12px"/>
        <f7-list-item 
        title="Slides"
        style="font-size:12px"/>
        <f7-list-item 
        title="Slippers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Loafers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boots"
        style="font-size:12px"/>
        <f7-list-item 
        title="Running Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sneakers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Clogs"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="WOMENS FOOTWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Flat Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Heel Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Wedges Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sports Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Casual Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Formal Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boots"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ballerings"
        style="font-size:12px"/>
        <f7-list-item 
        title="Flip-Flops"
        style="font-size:12px"/>
        <f7-list-item 
        title="Slides"
        style="font-size:12px"/>
        <f7-list-item 
        title="Slippers"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BOYS FOOTWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Clogs"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sports Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Casual Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boots"
        style="font-size:12px"/>
        <f7-list-item 
        title="Flip-Flops"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ethnic Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="School Shoes"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="GIRLS FOOTWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Clogs"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sports Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Casual Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boots"
        style="font-size:12px"/>
        <f7-list-item 
        title="Flip-Flops"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ethnic Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="School Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Flat & Bellies"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BABY FOOTWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boots"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Categorymen',
  data() {
    return {
      title: 'Services Page'
    };
  }
};
</script>