<template>
  <f7-page class="bgpage" style="background-color:white" name="categorymen">
    <f7-navbar back-link="Back" class="bgnav" sliding>
    
      <f7-nav-title style="font-size:15px;margin:0px">
        BABY & KIDS
      </f7-nav-title>
      <f7-nav-right>
        <f7-link style="padding:0 10px" icon-f7="icon-search_strong" href="/search/"></f7-link>
        <f7-link style="padding:0 10px" icon-f7="icon-heart_fill" href="/wishlist/"></f7-link>
        <f7-link style="padding:0 10px" href="/hdcart/"><img src="/static/img/icons/delivery-motorbike.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block style="margin-top:15px"> 
        <f7-list accordion style="margin:0px" no-hairlines-md>
  <f7-list-item accordion-item title="BOYS CLOTHING" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Polos & T-Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kurtas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Raincoats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Jackets"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweatshirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Pullovers"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BABY BOY" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sleep Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Body Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Polos & T-Shirts"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BABY GIRL" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sleep Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Body Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Baby Girl Dresses"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="GIRLS CLOTHING" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Dresses"
        style="font-size:12px"/>
        <f7-list-item 
        title="Skirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Salwar Kurtas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kurtas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Lehenga Choli"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ethnic Sets"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sarees"
        style="font-size:12px"/>
        <f7-list-item 
        title="Mufflers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Thermals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweatshirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Raincoats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Jackets"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Categorymen',
  data() {
    return {
      title: 'Services Page'
    };
  }
};
</script>