<template>
  <f7-page class="bgpage" style="padding-bottom:85px" name="confirmdelivery">
    <f7-navbar back-link="back" class="bgnav" sliding>
      <f7-nav-title style="font-size:15px;margin:0px">
        CONFIRM DELIVERY
      </f7-nav-title>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block-title  style="margin-top:15px"><h5 class="mpzero">ITEMS ORDERED (1)</h5></f7-block-title>
    <f7-block style="padding:0px;margin-bottom:0px">
      <f7-card>
          <f7-card-content style="padding:10px 0px">
              <f7-block style="margin:0px">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%;height:90px"></f7-col>
  <f7-col width="75" style="padding-left:15px"><p class="mpzero">Men Blue Formal Shirt</p>
  <p class="mpzero"><span style="color:#616161">Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  <p class="mpzero">Size : M</p>
  <p class="mpzero">Store : Silver Leaf</p>
  </f7-col>
</f7-row>
       </f7-block>
          </f7-card-content>
      </f7-card>
      </f7-block>
    <f7-block-title  style="margin-top:15px"><h5 class="mpzero">SHIPPING ADDRESS</h5></f7-block-title>
<f7-block style="padding:0px;margin-bottom:0px">
<f7-card>
            <f7-card-content style="margin:0px;padding:10px 10px">
                <h4 class="mpzero" style="color:#757575">Rohit Chikhalge</h4>
            <h5 class="mpzero">C-114, RIT Boys Hostel Islampur</h5>
            <h5 class="mpzero">Urun Islampur</h5>
            <h5 class="mpzero">Sangli-415409</h5>
            <h5 class="mpzero">Maharashtra</h5>
            <h5 class="mpzero">Mobile : 7721821177</h5>
            </f7-card-content>
        </f7-card>
</f7-block>
<f7-block-title  style="margin-top:15px"><h5 class="mpzero">ESTIMATED DELIVERY</h5></f7-block-title>
<f7-block style="padding:0px">
<f7-card>
            <f7-card-content style="margin:0px;padding:10px 10px">
                <h5 class="mpzero" style="color:#00E676">
                Deliver By : 19/07/2018 - 07:00 PM
                </h5>
            </f7-card-content>
        </f7-card>
</f7-block>
  <f7-button href="/#/" fill style="background-color:#00E676;font-size:12px;font-weight:bold;border-radius:0px;position:fixed;bottom:0;z-index:999;width:100%">CONFIRM DELIVERY</f7-button>
  </f7-page>
</template>

<script>
export default {
  name: 'Confirmdelivery',
  data() {
    return {
      title: 'ITEMS (2)'
    };
  }
};
</script>
