<template>
  <f7-page class="bgpage" style="padding-bottom:85px" name="hdcart">
    <f7-navbar back-link="back" class="bgnav" sliding>
      <f7-nav-title style="font-size:15px;margin:0px">
        HD CART
      </f7-nav-title>
      <f7-nav-right>
          <!-- <f7-link href="/wishlist/"> -->
          <f7-button href="/wishlist/" outline small color="white" style="margin-right:10px">WISHLIST</f7-button>          
          <!-- </f7-link> -->
      </f7-nav-right>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block-title  style="margin-top:15px"><h5 class="mpzero">{{ title }}</h5></f7-block-title>
    <f7-block style="padding:0px;margin-bottom:0px">
      <f7-card>
          <f7-card-content style="padding:10px 0px">
              <f7-block style="margin:0px">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%;height:90px"></f7-col>
  <f7-col width="75" style="padding-left:15px"><p class="mpzero">Men Blue Formal Shirt</p>
  <p class="mpzero"><span style="color:#616161">Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  <p class="mpzero">Size : M</p>
  <p class="mpzero">Store : Silver Leaf</p>
  </f7-col>
</f7-row>
       <f7-segmented>
  <f7-button color="green" style="font-size:12px;font-weight:bold">MOVE TO WISHLIST</f7-button>
  <f7-button color="red" style="font-size:12px;font-weight:bold">REMOVE</f7-button>
  </f7-segmented>
       </f7-block>
          </f7-card-content>
      </f7-card>

      <f7-card>
          <f7-card-content style="padding:10px 0px">
              <f7-block style="margin:0px">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/fmb1.png" style="width:100%;height:90px"></f7-col>
  <f7-col width="75" style="padding-left:15px"><p class="mpzero">Men Blue Formal Shirt</p>
  <p class="mpzero"><span style="color:#616161">Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  <p class="mpzero">Size : M</p>
  <p class="mpzero">Store : Silver Leaf</p>
  </f7-col>
</f7-row>
       <f7-segmented>
  <f7-button color="green" style="font-size:12px;font-weight:bold">MOVE TO WISHLIST</f7-button>
  <f7-button color="red" style="font-size:12px;font-weight:bold">REMOVE</f7-button>
  </f7-segmented>
       </f7-block>
          </f7-card-content>
      </f7-card>
      </f7-block>
      <f7-card>
          <f7-card-content style="padding:15px 10px;color:#00E676">
            <f7-icon f7="info"></f7-icon> &nbsp We provide free home delivery
            <p style="color:gray"><f7-icon f7="info"></f7-icon> &nbsp Cash on delivery service</p>
            <p style="color:gray"><f7-icon f7="bolt_round"></f7-icon> &nbsp We give TRY & BUY Feature</p>
          </f7-card-content>
      </f7-card>
      <f7-block style="margin:0px;padding:0px;position:fixed;bottom:0;z-index:999;width:100%;background-color:white">
      <f7-list accordion-list style="margin:0px">
  <f7-list-item accordion-item title="What is TRY & BUY Feature ?" style="font-size:13px;color:gray;font-weight:bold">
    <f7-accordion-content>
      <f7-block style="font-size:13px;font-weight:normal">
        <p>
         You can order 3-4 items from same category Example : 3-4 T-shirts. When order is delivered to your door step, you can instantly try out the items and buy only that items you liked. It's is exciting but unfortunately we have to keep one rule to this feature to avoid mis-use of it.<br>Rule :- You should aleast buy 1 item for every 3 items you order.
        </p>
        <p>
         <span style="font-weight:bold">Example :-</span><br>
         You ordered 3 items > You should atleast buy 1 item of that 3 items<br>
         You ordered 4 items > You should atleast buy 2 items of that 4 items<br>
        </p>
        <p>
         <span style="font-weight:bold">Ordered To Buy Ratio :-</span><br>
         1-3 items ordered > Buy atleast 1 item<br>
         4-6 items ordered > Buy atleast 2 items<br>
         7-9 items ordered > Buy atleast 3 items<br>
         Continue similarly..
        </p>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
      </f7-list>
    <f7-segmented>
        <h5 class="mpzero" style="width:50%;padding:10px;text-align:center;color:#424242">Free Delivery</h5>
  <f7-button href="/selectaddress/" fill style="font-size:12px;font-weight:bold;border-radius:0px;background-color:#00E676">PLACE DELIVERY</f7-button>
  </f7-segmented>
  </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Hdcart',
  data() {
    return {
      title: 'ITEMS (2)'
    };
  }
};
</script>
