<template>
  <f7-page class="bgpage" name="hdorders">
    <f7-navbar class="bgnav" sliding>
     <f7-nav-left>
        <f7-link icon-f7="icon-close" @click="$f7router.back()"></f7-link>
      </f7-nav-left>
      <f7-nav-title style="font-size:15px;margin:0px">
        HD ORDERS
      </f7-nav-title>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block-title style="margin-top:15px"><h5 class="mpzero">ORDER NO : 201800001177</h5></f7-block-title>
    <f7-block style="padding:0px;margin:0px">
      
      <f7-card>
        <f7-card-header>
              <h5 class="mpzero" style="color:#757575">Shipping Address : <span style="font-weight:normal">C-114, RIT Boys Hostel, Islampur</span></h5>      
        </f7-card-header>
          <f7-card-content style="padding:10px 0px">
              <f7-block style="margin:0px">  
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%;height:90px"></f7-col>
  <f7-col width="75" style="padding-left:15px"><p class="mpzero">Men Blue Formal Shirt</p>
  <p class="mpzero"><span style="color:#616161">Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  <p class="mpzero">Size : M</p>
  <p class="mpzero">Store : Silver Leaf</p>
  </f7-col>
</f7-row>
<f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%;height:90px"></f7-col>
  <f7-col width="75" style="padding-left:15px"><p class="mpzero">Men Blue Formal Shirt</p>
  <p class="mpzero"><span style="color:#616161">Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  <p class="mpzero">Size : M</p>
  <p class="mpzero">Store : Silver Leaf</p>
  </f7-col>
</f7-row>
       </f7-block>
          </f7-card-content>
          <f7-card-footer>
            <h5 style="left:0px" class="mpzero">Deliver by (19/07/2018 - 07:45 PM) </h5>
            <f7-icon f7="time_fill" size="20px" color="red"></f7-icon>
          </f7-card-footer>
      </f7-card>
    </f7-block>

    <f7-block-title style="margin-top:15px"><h5 class="mpzero">ORDER NO : 201800001178</h5></f7-block-title>
    <f7-block style="padding:0px;margin:0px">

      <f7-card>
        <f7-card-header>
              <h5 class="mpzero" style="color:#757575">Shipping Address : <span style="font-weight:normal">C-114, RIT Boys Hostel, Islampur</span></h5>      
        </f7-card-header>
          <f7-card-content style="padding:10px 0px">
              <f7-block style="margin:0px">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%;height:90px"></f7-col>
  <f7-col width="75" style="padding-left:15px"><p class="mpzero">Men Blue Formal Shirt</p>
  <p class="mpzero"><span style="color:#616161">Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  <p class="mpzero">Size : M</p>
  <p class="mpzero">Store : Silver Leaf</p>
  </f7-col>
</f7-row>
<f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%;height:90px"></f7-col>
  <f7-col width="75" style="padding-left:15px"><p class="mpzero">Men Blue Formal Shirt</p>
  <p class="mpzero"><span style="color:#616161">Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  <p class="mpzero">Size : M</p>
  <p class="mpzero">Store : Silver Leaf</p>
  </f7-col>
</f7-row>
       </f7-block>
          </f7-card-content>
          <f7-card-footer>
            <h5 style="left:0px" class="mpzero">Delivered (dd/mm/yyyy) </h5>
            <f7-icon f7="check_round_fill" size="20px" color="green"></f7-icon>
          </f7-card-footer>
      </f7-card>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Hdorders',
  data() {
    return {
      title: 'Services Page'
    };
  }
};
</script>
