<template>
  <f7-page class="bgpage">
    <f7-navbar class="bgnav" sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title style="font-size:16px;margin:0px;font-weight:bold">
        Fashiostreet
      </f7-nav-title>
      <f7-nav-right>
        <f7-link style="padding:0 10px" icon-f7="icon-search_strong" href="/search/"></f7-link>
        <f7-link style="padding:0 10px" href="/shop/"> <img src="/static/img/icons/shop-store.svg" alt=""></f7-link>
        <f7-link style="padding:0 10px" href="/hdcart/"><img src="/static/img/icons/delivery-motorbike.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <f7-subnavbar class="bgsubnav" style="height:80px">
<div class="box" style="overflow-x:scroll;overflow-y:hidden;white-space:nowrap;margin:5px">
  <f7-link href="/categorymen/" style="height:100%;padding:0px 5px"><f7-card style="height:64px;margin:0px" class="cat_width"><img src="static/img/hcb1.png" style="width:100%;height:100%" alt=""></f7-card></f7-link>
  <f7-link href="/categorywomen/" style="height:100% ;padding:0px 5px"><f7-card style="height:64px;margin:0px" class="cat_width"><img src="static/img/hcb2.png" style="width:100%;height:100%" alt=""></f7-card></f7-link>
  <f7-link href="/categorykids/" style="height:100% ;padding:0px 5px"><f7-card style="height:64px;margin:0px" class="cat_width"><img src="static/img/hcb3.png" style="width:100%;height:100%" alt=""></f7-card></f7-link>
  <f7-link href="/categoryfoot/" style="height:100% ;padding:0px 5px"><f7-card style="height:64px;margin:0px" class="cat_width"><img src="static/img/hcb5.png" style="width:100%;height:100%" alt=""></f7-card></f7-link>
  <f7-link href="/categorywatch/" style="height:100% ;padding:0px 5px"><f7-card style="height:64px;margin:0px" class="cat_width"><img src="static/img/hcb4.png" style="width:100%;height:100%" alt=""></f7-card></f7-link>  
  </div>

</f7-subnavbar>
      <f7-swiper class="mpzero" style="margin-bottom:1px;margin-top:2.3rem">
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/mb1.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/mb2.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/mb3.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/mb4.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/mb5.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
</f7-swiper>

           <f7-block style="background-color:white;padding-top:5px;padding-bottom:10px;margin-bottom:15px;margin-top:0px">

    <!-- <f7-block-title class="bgpage">Trending Products at Islampur</f7-block-title> -->
          <h5 class="mpzero" style="padding:5px">TRENDING PRODUCTS AT ISLAMPUR</h5>
  <div class="box" style="overflow-x:scroll;overflow-y:hidden;white-space:nowrap;margin:5px">
    <f7-link href="/productdetails/" style="height:100%;padding:0px 5px">
     <f7-card class="cardt prod_width" style="height:100%;padding:0px;padding-bottom:10px;margin:2px">
       <img src="/static/img/test.jpg" alt="" style="width:100%;height:28vh;margin:0px">
       <f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold;padding:0px 10px;">
           <p class="mpzero">Men Blue Formal Shirt</p>
           <p class="mpzero"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
       </f7-block>
     </f7-card>
    </f7-link>
    <f7-link href="/productdetails/" style="height:100%;padding:0px 5px">
     <f7-card class="cardt prod_width" style="height:100%;padding:0px;padding-bottom:10px;margin:2px">
       <img src="/static/img/test.jpg" alt="" style="width:100%;height:28vh;margin:0px">
       <f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold;padding:0px 10px;">
           <p class="mpzero">Men Blue Formal Shirt</p>
           <p class="mpzero"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
       </f7-block>
     </f7-card>
    </f7-link>
    <f7-link href="/productdetails/" style="height:100%;padding:0px 5px">
     <f7-card class="cardt prod_width" style="height:100%;padding:0px;padding-bottom:10px;margin:2px">
       <img src="/static/img/test.jpg" alt="" style="width:100%;height:28vh;margin:0px">
       <f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold;padding:0px 10px;">
           <p class="mpzero">Men Blue Formal Shirt</p>
           <p class="mpzero"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
       </f7-block>
     </f7-card>
    </f7-link>
    <f7-link href="/productdetails/" style="height:100%;padding:0px 5px">
     <f7-card class="cardt prod_width" style="height:100%;padding:0px;padding-bottom:10px;margin:2px">
       <img src="/static/img/hcb1.png" alt="" style="width:100%;height:28vh;margin:0px">
       <f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold;padding:0px 10px;">
           <p class="mpzero">Men Blue Formal Shirt</p>
           <p class="mpzero"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
       </f7-block>
     </f7-card>
    </f7-link>
  </div>
</f7-block>
    <f7-block style="background-color:white;padding-top:5px;padding-bottom:10px;margin-top:0px;margin-bottom:15px">
    <!-- <f7-block-title class="bgpage">Men's Clothing</f7-block-title> -->
              <h5 class="mpzero" style="padding:5px">MENS CLOTHING</h5>
          <!-- <f7-label>Trending Products at Islampur</f7-label> -->
      <f7-swiper pagination>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/mmb1.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/mmb2.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/mmb3.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
</f7-swiper>

  <div class="box" style="overflow-x:scroll;overflow-y:hidden;white-space:nowrap;margin:5px">
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Formal Shirts</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Jeans</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Kurtas</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Trousers</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Brief & Trunks</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Track Pants</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Sweatshirts</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Jackets</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Blazers</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Socks</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Raincoats</f7-button>
  </div>
</f7-block>

 <f7-block style="background-color:white;padding-top:5px;padding-bottom:10px;margin-top:0px;margin-bottom:15px">
    <!-- <f7-block-title class="bgpage">Men's Clothing</f7-block-title> -->
              <h5 class="mpzero" style="padding:5px">FOOTWEAR</h5>
          <!-- <f7-label>Trending Products at Islampur</f7-label> -->
      <f7-swiper pagination>
  <f7-swiper-slide><f7-card style="height:50vh"><img src="/static/img/fmb1.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card style="height:50vh"><img src="/static/img/fmb2.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card style="height:50vh"><img src="/static/img/fmb3.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
    <f7-swiper-slide><f7-card style="height:50vh"><img src="/static/img/fmb4.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
</f7-swiper>
    </f7-block>

    <f7-block style="background-color:white;padding-top:5px;padding-bottom:10px;margin-top:0px;margin-bottom:15px">
    <!-- <f7-block-title class="bgpage">Men's Clothing</f7-block-title> -->
              <h5 class="mpzero" style="padding:5px">WOMENS CLOTHING</h5>
          <!-- <f7-label>Trending Products at Islampur</f7-label> -->
      <f7-swiper pagination>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/wmb1.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/wmb2.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/wmb3.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
</f7-swiper>

  <div class="box" style="overflow-x:scroll;overflow-y:hidden;white-space:nowrap;margin:5px">
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Dresses</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Anarkali</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">T-shirts</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Dress Materials</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Leggings</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Sarees</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Lehenga choli</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Shorts & Skirts</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Bras</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Chudidars</f7-button>
  </div>
    </f7-block>

<f7-block style="background-color:white;padding-top:5px;padding-bottom:10px;margin-top:0px;margin-bottom:15px">
    <!-- <f7-block-title class="bgpage">Men's Clothing</f7-block-title> -->
              <h5 class="mpzero" style="padding:5px">WATCHES</h5>
          <!-- <f7-label>Trending Products at Islampur</f7-label> -->
      <f7-swiper pagination>
  <f7-swiper-slide><f7-card style="height:50vh"><img src="/static/img/wtmb1.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card style="height:50vh"><img src="/static/img/wtmb2.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card style="height:50vh"><img src="/static/img/wtmb3.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
    <f7-swiper-slide><f7-card style="height:50vh"><img src="/static/img/wtmb4.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
</f7-swiper>
    </f7-block>

        <f7-block style="background-color:white;padding-top:5px;padding-bottom:10px;margin-top:0px">
    <!-- <f7-block-title class="bgpage">Men's Clothing</f7-block-title> -->
              <h5 class="mpzero" style="padding:5px">BABYS AND KIDS</h5>
          <!-- <f7-label>Trending Products at Islampur</f7-label> -->
      <f7-swiper pagination>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/bmb1.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/bmb2.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
  <f7-swiper-slide><f7-card class="cardm"><img src="/static/img/bmb3.png" style="width:100%;height:100%" alt=""></f7-card></f7-swiper-slide>
</f7-swiper>

  <div class="box" style="overflow-x:scroll;overflow-y:hidden;white-space:nowrap;margin:5px">
    <f7-button style="display:inline-block;font-size:10px;;font-weight:700" outline color="gray">Jackets</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Sweatshirt</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">T-shirts</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Dress Materials</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Leggings</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Sarees</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Lehenga choli</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Shorts & Skirts</f7-button>
    <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Bras</f7-button>
  <f7-button style="display:inline-block;font-size:10px;font-weight:700" outline color="gray">Chudidars</f7-button>
  </div>
    </f7-block>
  </f7-page>
</template>
<script>
export default {
  name: 'Home',
  data() {
    return {
      title: 'Hello World'
    };
  }
};
</script>
<style scoped>
  .box::-webkit-scrollbar {
    display: none;
    -moz-appearance: none;
   }
  .cat_width{
    width: 90px
  }
  .prod_width{
    width: 150px
  }
  @media only screen and (max-width: 350px){
   .cat_width{
    width: 80px !important
  }
  }
</style>
