<template>
  <f7-page class="bgpage" name="location">
    <f7-navbar class="bgnav" sliding>
     <f7-nav-left>
        <f7-link icon-f7="icon-arrow_left" href="/"></f7-link>
      </f7-nav-left>
      <f7-nav-title style="font-size:15px;margin:0px">
        SELECT LOCATION
      </f7-nav-title>
    </f7-navbar>
    <f7-searchbar
  disable-link-text=""
  placeholder="Enter your City"
  :clear-button="true"
></f7-searchbar>
    <!-- Scrollable page content-->
    <!-- <f7-block-title>{{ title }}</f7-block-title> -->
    <f7-block  style="margin:0px;padding:0px;color:#757575">
      <f7-list no-hairlines-between style="margin:10px">
        <f7-list-item title="Islampur" link/>
        <f7-list-item title="Kolhapur" link/>]
      </f7-list>
    </f7-block>
    <f7-block-title  style="margin-top:15px"><h5 class="mpzero">LAUNCHING SOON</h5></f7-block-title>
    <f7-block  style="margin:0px;padding:0px;color:#757575">
<f7-list no-hairlines-between style="margin:10px">
        <f7-list-item title="Satara" />
        <f7-list-item title="Sangli" />
        <f7-list-item title="Pune" />
        <f7-list-item title="Mumbai" />
      </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Location',
  data() {
    return {
      title: 'Services Page'
    };
  }
};
</script>
