<template>

    <f7-page login-screen>
        <f7-link @click="$f7router.back()" icon-f7="icon-arrow_left" style="color:#BDBDBD;margin-left:30px;margin-top:25px" ></f7-link>
      <f7-block style="padding-top:0px;margin:0px">
      <f7-login-screen-title style="margin:0px"><img style="width:100px" src="/static/img/fashiostreet.png"></f7-login-screen-title>
      <f7-list form>
        <f7-list-item>
          <f7-label floating>Phone No</f7-label>
          <f7-input type="number"  clear-button></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label floating>Password</f7-label>
          <f7-input type="password"  clear-button></f7-input>
        </f7-list-item>
      </f7-list>
      <f7-list>
        <f7-list-item> <f7-button style="width:100%;background-color:#7fff00;font-size:12px;font-weight:bold" fill login-screen-close>Log In</f7-button></f7-list-item>
        <f7-block-footer> <h5> FORGOT PASSWORD? </h5></f7-block-footer>
        <f7-block-footer>New to Fashiostreet? <span ><f7-link style="color:#7fff00" href="/signup/">Signup</f7-link> </span> now </f7-block-footer>
      </f7-list>
      </f7-block>
    </f7-page>
    
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      title: 'Feedback Page'
    };
  }
};
</script>
