<template>
  <f7-page class="bgpage" name="products">
    <f7-navbar class="bgnav" sliding>
     <f7-nav-left>
        <f7-link icon-f7="icon-arrow_left" @click="$f7router.back()"></f7-link>
      </f7-nav-left>
      <f7-nav-title style="font-size:15px;margin:0px">
        T-SHIRTS
      </f7-nav-title>
        <f7-nav-right>
        <f7-link style="padding:0 10px" icon-f7="icon-search_strong" href="/search/"></f7-link>
        <f7-link style="padding:0 10px" icon-f7="icon-heart_fill" sheet-open=".loginsheet"></f7-link>
        <f7-link style="padding:0 10px" href="/hdcart/"><img src="/static/img/icons/delivery-motorbike.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <!-- Scrollable page content-->
    <!-- <f7-block-title>{{ title }</f7-block-title> -->
    <f7-row no-gap>
  <f7-col width="50" class="col_hgt" style="height:42vh">
      <f7-link href="/productdetails/" style="width:100%">
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray;z-index:99"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
            <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Silver Leaf</p>
</f7-block>
    </f7-card>
      </f7-link>
  </f7-col>
 <f7-col width="50" class="col_hgt" style="height:42vh">
 <f7-link style="width:100%">    
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray;z-index:99"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
           <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Denon Mens Wear</p>
</f7-block>
    </f7-card>
 </f7-link>
  </f7-col>

   <f7-col width="50" class="col_hgt" style="height:42vh">
      <f7-link style="width:100%">
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray;z-index:99"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
            <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Silver Leaf</p>
</f7-block>
    </f7-card>
      </f7-link>
  </f7-col>
 <f7-col width="50" class="col_hgt" style="height:42vh">
 <f7-link style="width:100%">    
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray;z-index:99"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
           <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Denon Mens Wear</p>
</f7-block>
    </f7-card>
 </f7-link>
  </f7-col>

   <f7-col width="50" class="col_hgt" style="height:42vh">
      <f7-link style="width:100%">
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray;z-index:99"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
            <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Silver Leaf</p>
</f7-block>
    </f7-card>
      </f7-link>
  </f7-col>
 <f7-col width="50" class="col_hgt" style="height:42vh">
 <f7-link style="width:100%">    
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray;z-index:99"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
           <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Denon Mens Wear</p>
</f7-block>
    </f7-card>
 </f7-link>
  </f7-col>
</f7-row>

<f7-segmented style="position:fixed;bottom:0;z-index:999;width:100%;background-color:white;border-radius:0px">
  <f7-button sheet-open=".sortsheet" icon-f7="sort" color="gray" style="font-size:12px;font-weight:bold">&nbsp SORT</f7-button>
  <f7-button popup-open=".filterpopup" icon-f7="filter" color="gray" style="font-size:12px;font-weight:bold">&nbsp FILTER</f7-button>
  </f7-segmented>

  <f7-sheet class="sortsheet">
      <f7-block-title style="margin:0px;padding:15px;font-size:12px">SORT BY<f7-button sheet-close outline small color="gray" style="font-size:12px;font-weight:bold;display:inline-block;position:absolute;right:15px;top:10px">APPLY</f7-button>
</f7-block-title>
      <f7-block style="margin:0px">
          <f7-list style="margin:0px;color:gray;font-size:14px">
              <f7-list-item title="Price - Low to High"
                radio name="shopsortradio"/>
              <f7-list-item radio name="shopsortradio" title="Price - High to Low"/>
              <f7-list-item radio name="shopsortradio" title="Latest"/>
              <f7-list-item radio name="shopsortradio" title="Discounts"/>
          </f7-list>
      </f7-block>
</f7-sheet>

<f7-sheet class="loginsheet" style="height:150px">
  <center>
  <img src="/static/img/fashiostreet.png" style="height:40px;margin-top:10px" alt="">
  </center>
      <f7-block-title style="margin:0px;padding:15px;text-align:center"><h5 class="mpzero">YOU ARE NOT LOGGED IN</h5>
</f7-block-title>
      <f7-block style="margin:0px">
          <f7-segmented style="border-top:1px solid #E0E0E0">
  <f7-button color="green" href="/login/" sheet-close style="font-size:12px;font-weight:bold">LOG IN</f7-button>
  <f7-button color="green" href="/signup/" sheet-close style="font-size:12px;font-weight:bold">SIGN UP</f7-button>
  </f7-segmented>
      </f7-block>
</f7-sheet>

<f7-popup class="filterpopup" style="color:#BDBDBD;background-color:#F5F5F5;">
    <f7-navbar class="bgnav" sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-arrow_left" popup-close></f7-link>
      </f7-nav-left>
      <f7-nav-title style="font-size:15px;margin:0px">
        FILTERS
      </f7-nav-title>
      <f7-nav-right>
        <f7-link><h6 style="font-weight:normal">CLEAR ALL</h6></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <f7-row no-gap style="height:100%">
  <f7-col width="35" style="color:#757575">
      <f7-list no-hairlines-between style="margin:0px;padding:0px">
          <f7-list-item link title="Price" @click='shop = false,price = true,size=false,color=false,brand=false'/>
          <f7-list-item link title="Size" @click='shop = false,price = false,size=true,color=false,brand=false'/>
          <f7-list-item link title="Color" @click='shop = false,price = false,size=false,color=true,brand=false'/>
          <f7-list-item link title="Brand" @click='shop = false,price = false,size=false,color=false,brand=true'/>
          <f7-list-item link title="Shop" @click='shop = true,price = false,size=false,color=false,brand=false'/>
      </f7-list>
      </f7-col>
  <f7-col class="box" width="65" style="padding-left:10px;background-color:white;height:100%;overflow-y:scroll">
    <f7-block v-show='shop' style="margin:0px;padding:0px">
      <f7-searchbar
  disable-link-text="Cancel"
  placeholder="Search shop"
  :clear-button="true"
></f7-searchbar>
      <f7-list style="margin:0px;padding:0px">
          <f7-list-item checkbox title="Denon Collection"/>
          <f7-list-item checkbox title="Silver Leaf"/>
          <f7-list-item checkbox title="Yuva Mens"/>
          <f7-list-item checkbox title="Lavanya NX"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
          <f7-list-item checkbox title="Tarangan Collection"/>
      </f7-list>
    </f7-block>
    <f7-block  v-show='price' style="margin:0px;padding:0px">
      <f7-list style="margin:0px;padding:0px">
          <f7-list-item checkbox title="Below Rs.500"/>
          <f7-list-item checkbox title="Rs.500-700"/>
          <f7-list-item checkbox title="Rs.700-1000"/>
          <f7-list-item checkbox title="Rs.1000-1300"/>
          <f7-list-item checkbox title="Rs.1300-1500"/>
          <f7-list-item checkbox title="Rs.1500-2000"/>
          <f7-list-item checkbox title="Above Rs.2000"/>
      </f7-list>
    </f7-block>
    <f7-block v-show='size' style="margin:0px;padding:0px">
      <f7-list style="margin:0px;padding:0px">
          <f7-list-item checkbox title="2XS"/>
          <f7-list-item checkbox title="XS"/>
          <f7-list-item checkbox title="S"/>
          <f7-list-item checkbox title="M"/>
          <f7-list-item checkbox title="L"/>
          <f7-list-item checkbox title="XL"/>
          <f7-list-item checkbox title="XXL"/>
          <f7-list-item checkbox title="Other"/>
      </f7-list>
    </f7-block>
    <f7-block v-show='color' style="margin:0px;padding:0px">
      <f7-list sortable style="margin:0px;padding:0px">
          <f7-list-item checkbox title="Black"/>
          <f7-list-item checkbox title="Green"/>
          <f7-list-item checkbox title="Yellow"/>
          <f7-list-item checkbox title="Gray"/>
          <f7-list-item checkbox title="Maroon"/>
          <f7-list-item checkbox title="Blue"/>
          <f7-list-item checkbox title="Dark Blue"/>
          <f7-list-item checkbox title="Skin Color"/>
          <f7-list-item checkbox title="White"/>
          <f7-list-item checkbox title="Brown"/>
          <f7-list-item checkbox title="Orange"/>
          <f7-list-item checkbox title="Purple"/>
          <f7-list-item checkbox title="Multicolor"/>
          <f7-list-item checkbox title="Red"/>
          <f7-list-item checkbox title="Pink"/>
      </f7-list> 
    </f7-block>
    <f7-block v-show='brand' style="margin:0px;padding:0px">
      <f7-list style="margin:0px;padding:0px">
          <f7-list-item checkbox title="Roadster"/>
          <f7-list-item checkbox title="Puma"/>
          <f7-list-item checkbox title="Nike"/>
          <f7-list-item checkbox title="Adidas"/>
          <f7-list-item checkbox title="Reebok"/>
      </f7-list>
    </f7-block>
  </f7-col>
</f7-row>
<f7-button fill popup-close color="gray" style="position:fixed;bottom:0;z-index:999;width:100%">Apply</f7-button>
</f7-popup>
  </f7-page>
</template>

<script>
export default {
  name: 'Products',
  data() {
    return {
      title: 'Services Page',
      shop: false,
      price: true,
      size:false,
      color:false,
      brand:false
    };
  }
};
</script>
<style scoped>
.lineclampin{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.box.block::-webkit-scrollbar {
    display: none;
    -moz-appearance: none;
   }
 @media only screen and (max-height: 570px) {
    .pad{
      padding-bottom:10px !important 
    }
    .col_hgt{
      height: 43vh !important;  
    }
  }
  @media only screen and (max-height: 530px){
      .col_hgt{
      height: 45vh !important;  
    }
  }
</style>
