<template>
  <f7-page style="color:#BDBDBD" name="productdetails">
    <f7-navbar back-link="Back" class="bgnav" sliding>
    
      <f7-nav-title style="margin:0px;padding-top:5px">
        <img src="/static/img/fashiostreet.png" style="height:25px" alt="">
      </f7-nav-title>
      <f7-nav-right>
        <f7-link style="padding:0 10px"><img src="/static/img/icons/share.svg" alt=""></f7-link>
        <f7-link style="padding:0 10px" icon-f7="icon-heart_fill" href="/wishlist/"></f7-link>
        <f7-link style="padding:0 10px" href="/hdcart/"><img src="/static/img/icons/delivery-motorbike.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <f7-block style="padding:0px;margin:0px">
        <f7-link icon-f7="icon-heart" style="position:absolute;top:25px;right:25px;color:gray;z-index:99"></f7-link>
     <f7-swiper pagination>
  <f7-swiper-slide style="height:65vh"><img src="/static/img/test.jpg" style="width:100%;height:100%" alt=""></f7-swiper-slide>
  <f7-swiper-slide style="height:65vh"></f7-swiper-slide>
  <f7-swiper-slide style="height:65vh"></f7-swiper-slide>
</f7-swiper>
</f7-block>
<f7-block style="margin:0 10px;padding:10px;border-bottom:1px solid #BDBDBD">
    <h3 class="mpzero" style="color:gray;margin-bottom:3px">Men Blue Formal Shirt</h3>
    <p class="mpzero"><span style="color:gray;font-size:14px">Rs.500 &nbsp</span><span style="text-decoration:line-through">Rs.350</span>
    <span style="color:red;font-size:12px">&nbsp (40% OFF)</span>
    </p>
    <!-- <p class="mpzero">Store : Silver Leaf</p> -->
</f7-block>
<f7-block-title style="margin:0px 20px;margin-top:8px"><h5 class="mpzero">AVAILABLE SIZES</h5></f7-block-title>
<f7-block style="padding:10px 8px;margin:0px 10px;border-bottom:1px solid #BDBDBD">
    <f7-chip text="S"></f7-chip>
    <f7-chip text="M"></f7-chip>
    <f7-chip text="L"></f7-chip>
    <f7-chip text="XL"></f7-chip>
    <f7-chip text="XXL"></f7-chip>
</f7-block>
<f7-block-title style="margin:0px 20px;margin-top:8px"><h5 class="mpzero">AVAILABLE COLORS</h5></f7-block-title>
<f7-block style="padding:10px 8px;margin:0px 10px;border-bottom:1px solid #BDBDBD">
    <f7-icon f7="icon-circle_fill"></f7-icon>
    <f7-icon color="red" f7="icon-circle_fill"></f7-icon>
    <f7-icon color="green" f7="icon-circle_fill"></f7-icon>
    <f7-icon color="blue" f7="icon-circle_fill"></f7-icon>
    <f7-icon color="black" f7="icon-circle_fill"></f7-icon>
</f7-block>

<f7-block-title style="margin:0px 20px;margin-top:8px"><h5 class="mpzero">PRODUCT DETAILS</h5></f7-block-title>
<f7-block style="padding:10px 8px;margin:0px 10px;border-bottom:1px solid #BDBDBD">
    Blue solid formal shirt, full sleeves
</f7-block>

<f7-block-title style="margin:0px 20px;margin-top:8px"><h5 class="mpzero">SHOP</h5></f7-block-title>
<f7-block style="padding:10px 8px;margin:0px 10px;color:#00E676">
    Denon Collection
</f7-block>

 <f7-segmented style="width:100%;background-color:#E0E0E0;border-radius:0px">
  <f7-button big fill color="gray" style="font-size:12px;font-weight:bold;border-radius:0px">VISIT STORE</f7-button>
  <f7-button big fill color="green" style="font-size:12px;font-weight:bold;border-radius:0px">ADD TO HD CART</f7-button>
  </f7-segmented>
  <f7-block style="padding:10px 8px;margin:0px 10px;color:#00E676;border-bottom:1px solid #BDBDBD">
      <f7-icon f7="info"></f7-icon> &nbsp We provide free home delivery
     <p style="color:gray"><f7-icon f7="bolt_round"></f7-icon> &nbsp We have TRY & BUY Feature for you</p>
  </f7-block>
  <f7-block-title style="margin:0px 20px;margin-top:8px;padding:10px 0px"><h5 class="mpzero">SIMILAR PRODUCTS</h5></f7-block-title>
<f7-block style="padding:10px 0px;margin:0px">
    <f7-row no-gap>
  <f7-col width="50" class="col_hgt" style="height:42vh">
      <f7-link href="/productdetails/" style="width:100%">
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
            <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Silver Leaf</p>
</f7-block>
    </f7-card>
      </f7-link>
  </f7-col>
 <f7-col width="50" class="col_hgt" style="height:42vh">
 <f7-link style="width:100%">    
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
           <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Denon Mens Wear</p>
</f7-block>
    </f7-card>
 </f7-link>
  </f7-col>

   <f7-col width="50" class="col_hgt" style="height:42vh">
      <f7-link style="width:100%">
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
            <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Silver Leaf</p>
</f7-block>
    </f7-card>
      </f7-link>
  </f7-col>
 <f7-col width="50" class="col_hgt" style="height:42vh">
 <f7-link style="width:100%">    
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
           <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Denon Mens Wear</p>
</f7-block>
    </f7-card>
 </f7-link>
  </f7-col>

   <f7-col width="50" class="col_hgt" style="height:42vh">
      <f7-link style="width:100%">
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
            <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Silver Leaf</p>
</f7-block>
    </f7-card>
      </f7-link>
  </f7-col>
 <f7-col width="50" class="col_hgt" style="height:42vh">
 <f7-link style="width:100%">    
<f7-card class="pad" style="width:100%;height:100%;margin:0px;padding:0px;padding-bottom:10px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-heart" style="position:absolute;top:13px;right:13px;color:gray"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
           <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Denon Mens Wear</p>
</f7-block>
    </f7-card>
 </f7-link>
  </f7-col>
</f7-row>
</f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Productdetails',
  data() {
    return {
      title: 'Services Page'
    };
  }
};
</script>
<style scoped>
.lineclampin{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
 @media only screen and (max-height: 570px) {
    .pad{
      padding-bottom:10px !important 
    }
    .col_hgt{
      height: 43vh !important;  
    }
  }
  @media only screen and (max-height: 530px){
      .col_hgt{
      height: 45vh !important;  
    }
  }
</style>
