<template>
  <f7-page class="bgpage" name="profile" style="background-color:white">
    <f7-navbar class="bgnav" back-link="Back" sliding>
      <f7-nav-title style="font-size:15px;margin:0px">
        PROFILE
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      <f7-block style="border-radius:50%;margin-left: auto; margin-right: auto; height:150px;width:150px; background-color:#D3D3D3">
      <!-- <f7-button style="border-radius:50%;width:25px;height:50px;position:absolute;right:0px;bottom:0px;background-color:black"></f7-button> -->
      <f7-link color="gray" icon-f7="icon-camera_fill" style="position:absolute;right:0px;bottom:0px"></f7-link>
    </f7-block>
    </f7-block>
    <f7-block style="margin-bottom:15px">
<f7-list no-hairlines-md>
  <f7-list-item>
    <f7-label floating>First Name</f7-label>
    <f7-input type="text" placeholder="Enter First Name" clear-button></f7-input>
    </f7-list-item>
    <f7-list-item>
    <f7-label floating>Last Name</f7-label>
    <f7-input type="text" placeholder="Enter Last Name" clear-button></f7-input>
    </f7-list-item>
  <f7-list-item>
    <f7-label floating>Gender</f7-label>
    <f7-input type="text" placeholder="Enter Gender" clear-button></f7-input>
    </f7-list-item>
     <f7-list-item>
       <f7-label floating>Mobile No</f7-label>
    <f7-input type="text" placeholder="Enter Mobile No" clear-button></f7-input>
    </f7-list-item>
  <f7-list-item>
    <f7-label floating>Email</f7-label>
    <f7-input type="text" placeholder="Enter Email ID" clear-button></f7-input>
    </f7-list-item>
</f7-list>
<f7-button style="font-size:12px;font-weight:bold" outline color="green">CHANGE PASSWORD</f7-button>
</f7-block>
<f7-button style="font-size:12px;font-weight:bold;border-radius:0px" fill color="gray">SAVE CHANGES</f7-button>
  </f7-page>
</template>

<script>
export default {
  name: 'Profile',
  data() {
    return {
      title: 'Another Page'
    };
  }
};
</script>
