<template>
  <f7-page class="bgpage" name="search">
    <f7-navbar back-link="Back" class="bgnav" sliding>
    
      <f7-nav-title style="font-size:15px;margin:0px">
        WHAT DO YOU WANT ?
      </f7-nav-title>
    </f7-navbar>
    <f7-searchbar
  disable-link-text=""
  placeholder="Search for products"
  :clear-button="true"
></f7-searchbar>
    <!-- Scrollable page content-->
    <f7-block inner>

    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Search',
  data() {
    return {
      title: 'Services Page'
    };
  }
};
</script>
