<template>
  <f7-page class="bgpage" style="padding-bottom:35px" name="shop">
    <f7-navbar back-link="Back" class="bgnav" sliding>
     
      <f7-nav-title style="font-size:15px;margin:0px">
        SHOPS AT ISLAMPUR
      </f7-nav-title>
        <f7-nav-right>
        <f7-link style="padding:0 10px" href="/map/"> <img src="/static/img/icons/location-map.svg" alt=""></f7-link>
        <f7-link class="searchbar-enable" style="padding-right:50px" data-searchbar=".searchbar-components" icon-if-ios="f7:search_strong" icon-if-md="material:search"></f7-link>
        <!-- <f7-link style="padding:0 10px" icon-f7="icon-search_strong" href="/search/"></f7-link> -->
      </f7-nav-right>
      <f7-searchbar class="searchbar-components" placeholder="Search Shop" search-container=".components-list" search-in="a" expandable></f7-searchbar>
    </f7-navbar>
    <!-- Scrollable page content-->
    <!-- <f7-block-title>{{ title }}</f7-block-title> -->
     <f7-link style="width:100%" href="/shop/shophome/">
            <f7-card style="padding-bottom:2px;width:100%">
<img src="/static/img/mb3.png" style="width:100%;height:30vh" alt="">
     <f7-row no-gap>
  <f7-col width="15">
      <img src="/static/img/icons/shop-store-1.svg" style="padding:3px;padding-left:10px" alt="">
      </f7-col>
  <f7-col width="70" style="padding-left:10px">
    <h4 style="font-weight:normal;color:#757575" class="mpzero">Silver Leaf Men's Collection</h4>
    <h5 style="font-weight:normal;color:#BDBDBD" class="mpzero">Near S. T. Stand , Islampur Address</h5>
  </f7-col>
  <f7-col width="15">
       <f7-block>
           <f7-icon f7="icon-star_fill" color="gray" style="padding:5px"></f7-icon>
           <h4 class="mpzero" style="padding-left:5px">4.5</h4>
       </f7-block>
  </f7-col>
</f7-row>
        </f7-card></f7-link>
        <f7-link style="width:100%">
            <f7-card style="padding-bottom:2px;width:100%">
<img src="/static/img/wtmb3.png" style="width:100%;height:30vh" alt="">
     <f7-row no-gap>
  <f7-col width="15">
      <img src="/static/img/icons/shop-store-1.svg" style="padding:3px;padding-left:10px" alt="">
      </f7-col>
  <f7-col width="70" style="padding-left:10px">
    <h4 style="font-weight:normal;color:#757575" class="mpzero">Silver Leaf Men's Collection</h4>
    <h5 style="font-weight:normal;color:#BDBDBD" class="mpzero">Near S. T. Stand , Islampur Address asfs dgsgdsgsgd</h5>
  </f7-col>
  <f7-col width="15">
       <f7-block>
           <f7-icon f7="icon-star_fill" color="gray" style="padding:5px"></f7-icon>
           <h4 class="mpzero" style="padding-left:5px">4.5</h4>
       </f7-block>
  </f7-col>
</f7-row>
        </f7-card></f7-link>

        <f7-segmented style="position:fixed;bottom:0;z-index:999;width:100%;background-color:white;border-radius:0px">
  <f7-button sheet-open=".sortsheet" icon-f7="sort" color="gray" style="font-size:12px;font-weight:bold">&nbsp SORT</f7-button>
  <f7-button popup-open=".filterpopup" icon-f7="filter" color="gray" style="font-size:12px;font-weight:bold">&nbsp FILTER</f7-button>
  </f7-segmented>
  <f7-sheet class="sortsheet">
      <f7-block-title style="margin:0px;padding:15px;font-size:12px">SORT BY<f7-button sheet-close outline small color="gray" style="font-size:12px;font-weight:bold;display:inline-block;position:absolute;right:15px;top:10px">APPLY</f7-button></f7-block-title>
      <f7-block style="margin:0px">
          <f7-list style="margin:0px;color:gray;font-size:14px">
              <f7-list-item radio name="shopsortradio" title="Dist - Near to Far"/>
              <f7-list-item radio name="shopsortradio" title="Dist - Far to Near"/>
              <f7-list-item radio name="shopsortradio" title="Rating - High to Low"/>
              <f7-list-item radio name="shopsortradio" title="Discounts & Offers"/>
          </f7-list>
      </f7-block>
</f7-sheet>
<f7-popup class="filterpopup" style="color:#BDBDBD;background-color:#F5F5F5;">
    <f7-navbar class="bgnav" sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-arrow_left" popup-close></f7-link>
      </f7-nav-left>
      <f7-nav-title style="font-size:15px;margin:0px">
        FILTERS
      </f7-nav-title>
      <f7-nav-right>
        <f7-link><h6 style="font-weight:normal">CLEAR ALL</h6></f7-link>
      </f7-nav-right>
    </f7-navbar>
   <f7-row no-gap style="height:100%">
  <f7-col width="35" style="color:#757575">
      <f7-list no-hairlines-between style="margin:0px;padding:0px">
          <f7-list-item link title="Category" @click='categories = true,distances=false,ratings=false'/>
          <f7-list-item link title="Distance" @click='categories = false,distances=true,ratings=false'/>
          <f7-list-item link title="Rating" @click='categories=false,distances=false,ratings=true'/>
      </f7-list>
      </f7-col>
  <f7-col class="box" width="65" style="padding-left:10px;background-color:white;height:100%;overflow-y:scroll">
    <f7-block v-show='categories' style="margin:0px;padding:0px">
      <f7-list style="margin:0px;padding:0px">
          <f7-list-item checkbox title="Mens Shop"/>
          <f7-list-item checkbox title="Women Shop"/>
          <f7-list-item checkbox title="Baby & Kids Shop"/>
          <f7-list-item checkbox title="Footwear Shop"/>
          <f7-list-item checkbox title="Watches Shop"/>
      </f7-list>
    </f7-block>
    <f7-block  v-show='distances' style="margin:0px;padding:0px">
      <h5>LAUNCHING SOON</h5>
    </f7-block>
    <f7-block v-show='ratings' style="margin:0px;padding:0px">
      <h5>LAUNCHING SOON</h5>
    </f7-block>
  </f7-col>
</f7-row>
<f7-button fill popup-close color="gray" style="position:fixed;bottom:0;z-index:999;width:100%">Apply</f7-button>
</f7-popup>
  </f7-page>
  
</template>

<script>
export default {
  name: 'Shop',
  data() {
    return {
      title: 'Services Page',
      categories:true,
      distances:false,
      ratings:false
    };
  }
};
</script>
