<template>
  <f7-page style="color:#BDBDBD;padding-bottom:21px" name="shophome">
    <f7-navbar back-link="Back" class="bgnav" sliding>
    
      <f7-nav-title style="font-size:15px;margin:0px">
        SILVERLEAF COLLECTION
      </f7-nav-title>
      <f7-nav-right>
        <f7-link style="padding:0 10px"><img src="/static/img/icons/share.svg" alt=""></f7-link>
        <f7-link href="/map/" style="padding:0 10px"> <img src="/static/img/icons/pointer.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
     <f7-swiper pagination>
  <f7-swiper-slide style="height:30vh"><img src="/static/img/mb2.png" style="width:100%;height:100%" alt=""></f7-swiper-slide>
  <f7-swiper-slide style="height:30vh"></f7-swiper-slide>
  <f7-swiper-slide style="height:30vh"></f7-swiper-slide>
</f7-swiper>
<f7-block-title style="margin:15px"><h5 class="mpzero">OFFERS</h5></f7-block-title>
<f7-block style="border:1px solid gray;margin:0 10px;padding:10px">
  Offers here
</f7-block>
<f7-block-title style="margin:15px"><h5 class="mpzero">AVAILABLE CATEGORIES</h5></f7-block-title>
<f7-block style="margin-bottom:15px">
  <f7-list accordian style="margin-top:0px;margin-bottom:0px">
    <f7-list-item accordion-item title="MENS" style="font-size:13px">
          <f7-accordion-content>
            <f7-block>
              <f7-list>
                <f7-list-item
                title="T-Shirts"
                style="font-size:13px"/>
                <f7-list-item
                title="Casual Shirts"
                style="font-size:13px"/>
                <f7-list-item
                title="Trousers"
                style="font-size:13px"/>
              </f7-list>
            </f7-block>
          </f7-accordion-content>
    </f7-list-item>
    <f7-list-item accordion-item title="WOMENS" style="font-size:13px">
      <f7-accordion-content>
            <f7-block>
              <f7-list>
                <f7-list-item
                title="Tops"
                style="font-size:13px"/>
                <f7-list-item
                title="Leggings"
                style="font-size:13px"/>
                <f7-list-item
                title="Jeans"
                style="font-size:13px"/>
              </f7-list>
            </f7-block>
          </f7-accordion-content>
    </f7-list-item>
  </f7-list>
</f7-block>
<f7-block style="margin:15px 0">
  <f7-icon f7="icon-phone"></f7-icon><span style="padding-left:10px">7558417359 / 7721821177</span></f7-block>
  <f7-block style="margin:15px 0">
  <f7-icon f7="icon-time"></f7-icon><span style="padding-left:10px">09:00 AM - 09:00 PM (Tuesday Closed)</span></f7-block>
  <f7-block style="margin:15px 0">
  <f7-icon f7="icon-card"></f7-icon><span style="padding-left:10px">Cash, Mobile Banking, Card</span></f7-block>
  <f7-block style="margin:15px 0">
  <f7-icon f7="icon-navigation"></f7-icon><span style="padding-left:10px">Near S. T. Stand, Islampur</span></f7-block>

   <f7-block style="background-color:#F5F5F5;padding-top:5px;padding-bottom:10px;margin-bottom:15px;margin-top:0px">

    <!-- <f7-block-title class="bgpage">Trending Products at Islampur</f7-block-title> -->
          <h5 class="mpzero" style="padding:5px">TRENDING PRODUCTS OF THIS SHOP</h5>
  <div class="box" style="overflow-x:scroll;overflow-y:hidden;white-space:nowrap;margin:5px">
    <f7-link href="/productdetails/" style="height:100%;padding:0px 5px">
     <f7-card class="cardt prod_width" style="height:100%;padding:0px;padding-bottom:10px;margin:2px">
       <img src="/static/img/test.jpg" alt="" style="width:100%;height:28vh;margin:0px">
       <f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold;padding:0px 10px;">
           <p class="mpzero">Men Blue Formal Shirt</p>
           <p class="mpzero"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
       </f7-block>
     </f7-card>
    </f7-link>
    <f7-link href="/productdetails/" style="height:100%;padding:0px 5px">
     <f7-card class="cardt prod_width" style="height:100%;padding:0px;padding-bottom:10px;margin:2px">
       <img src="/static/img/test.jpg" alt="" style="width:100%;height:28vh;margin:0px">
       <f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold;padding:0px 10px;">
           <p class="mpzero">Men Blue Formal Shirt</p>
           <p class="mpzero"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
       </f7-block>
     </f7-card>
    </f7-link>
    <f7-link href="/productdetails/" style="height:100%;padding:0px 5px">
     <f7-card class="cardt prod_width" style="height:100%;padding:0px;padding-bottom:10px;margin:2px">
       <img src="/static/img/test.jpg" alt="" style="width:100%;height:28vh;margin:0px">
       <f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold;padding:0px 10px;">
           <p class="mpzero">Men Blue Formal Shirt</p>
           <p class="mpzero"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
       </f7-block>
     </f7-card>
    </f7-link>
    <f7-link href="/productdetails/" style="height:100%;padding:0px 5px">
     <f7-card class="cardt prod_width" style="height:100%;padding:0px;padding-bottom:10px;margin:2px">
       <img src="/static/img/hcb1.png" alt="" style="width:100%;height:28vh;margin:0px">
       <f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold;padding:0px 10px;">
           <p class="mpzero">Men Blue Formal Shirt</p>
           <p class="mpzero"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
       </f7-block>
     </f7-card>
    </f7-link>
  </div>
</f7-block>

 <f7-segmented style="position:fixed;bottom:0;z-index:999;width:100%;background-color:#E0E0E0;border-radius:0px">
  <f7-button icon-f7="phone_fill" color="gray" style="font-size:12px;font-weight:bold">&nbsp CALL NOW</f7-button>
  <f7-button icon-f7="chats_fill" color="gray" style="font-size:12px;font-weight:bold">&nbsp CHAT NOW</f7-button>
  </f7-segmented>
  </f7-page>
</template>

<script>
export default {
  name: 'Shophome',
  data() {
    return {
      title: 'Services Page'
    };
  }
};
</script>
<style scoped>
.prod_width{
    width: 150px
  }
  .box::-webkit-scrollbar {
    display: none;
    -moz-appearance: none;
   }
</style>
