<template>
  <f7-page name="wishlist" class="bgpage">
    <f7-navbar class="bgnav" sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-arrow_left" @click="$f7router.back()"></f7-link>
      </f7-nav-left>
      <f7-nav-title style="font-size:15px;margin:0px">
        WISHLIST
      </f7-nav-title>
      <f7-nav-right>
        <f7-link style="padding:0 10px" href="/hdcart/"><img src="/static/img/icons/delivery-motorbike.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block-title style="margin-top:15px"><h5 class="mpzero">{{ title }}</h5></f7-block-title>
    <f7-row no-gap>
  <f7-col width="50" class="col_hgt" style="height:47vh">
      <f7-link style="width:100%">
<f7-card style="width:100%;height:80%;margin:0px;padding:0px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-close_round" style="position:absolute;top:13px;right:13px;color:gray"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
            <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Silver Leaf</p>
</f7-block>
<f7-card-footer style="padding:5px;margin:0px;min-height:25px">
  <f7-button small  color="gray" style="width:100%;font-size:12px;font-weight:bold">MOVE TO HD CART</f7-button>
</f7-card-footer>
    </f7-card>
      </f7-link>
  </f7-col>
 <f7-col width="50" class="col_hgt" style="height:47vh">
 <f7-link style="width:100%">    
<f7-card style="width:100%;height:100%;margin:0px;padding:0px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-close_round" style="position:absolute;top:13px;right:13px;color:gray"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
           <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Denon Mens Wear</p>
</f7-block>
<f7-card-footer style="padding:5px;margin:0px;min-height:25px">
  <f7-button small  color="gray" style="width:100%;font-size:12px;font-weight:bold">MOVE TO HD CART</f7-button>
</f7-card-footer>
    </f7-card>
 </f7-link>
  </f7-col>

<f7-col width="50" class="col_hgt" style="height:47vh">
 <f7-link style="width:100%">    
<f7-card style="width:100%;height:100%;margin:0px;padding:0px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-close_round" style="position:absolute;top:13px;right:13px;color:gray"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
           <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Denon Mens Wear</p>
</f7-block>
<f7-card-footer style="padding:5px;margin:0px;min-height:25px">
  <f7-button small  color="gray" style="width:100%;font-size:12px;font-weight:bold">MOVE TO HD CART</f7-button>
</f7-card-footer>
    </f7-card>
 </f7-link>
  </f7-col>

  <f7-col width="50" class="col_hgt" style="height:47vh">
 <f7-link style="width:100%">    
<f7-card style="width:100%;height:100%;margin:0px;padding:0px">
<img src="/static/img/test.jpg" alt="" style="width:100%;height:31vh;margin:0px">
<f7-link icon-f7="icon-close_round" style="position:absolute;top:13px;right:13px;color:gray"></f7-link>
<f7-block style="color:#BDBDBD;font-size:12px;font-weight:bold">
           <p class="mpzero lineclampin">Men Blue Formal Shirt</p>
            <p class="mpzero lineclampin"><span style="color:gray;font-size:14px">Rs.500 </span><span style="text-decoration:line-through">Rs.350</span></p>
            <p class="mpzero lineclampin">Store : Denon Mens Wear</p>
</f7-block>
<f7-card-footer style="padding:5px;margin:0px;min-height:25px">
  <f7-button small  color="gray" style="width:100%;font-size:12px;font-weight:bold">MOVE TO HD CART</f7-button>
</f7-card-footer>
    </f7-card>
 </f7-link>
  </f7-col>

    </f7-row>
   
  </f7-page>
</template>

<script>
export default {
  name: 'Wishlist',
  data() {
    return {
      title: 'ITEMS (16)'
    };
  }
};
</script>
<style scoped>
.lineclampin{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
 @media only screen and (max-height: 570px) {
    .col_hgt{
      height: 48vh !important;  
    }
  }
  @media only screen and (max-height: 530px){
      .col_hgt{
      height: 50vh !important;  
    }
  }
</style>