<template>
  <f7-panel left :reveal="isiOS" :effect="panelEffect">
    <!-- force page background color to white if on iOS -->
    <f7-page style="color:#9E9E9E;margin-top:0px">
      <f7-link style="width:100%" panel-close href="/login/">
    <f7-block style="background-color:#EEEEEE;height:100px;margin:0px;width:100%;color:#9E9E9E">
       <f7-row no-gap>
  <f7-col width="25">
    <div style="height:65px;width:65px;border-radius:50%;background-color:white;margin-top:18px">
      <f7-icon f7="icon-person" style="height:65px;line-height:65px;font-size:65px"></f7-icon>
    </div>
</f7-col>
  <f7-col width="75" style="padding:5px;height:100px;line-height:100px">
    <h4 class="mpzero" style="padding-left:15px">Sign In / Sign Up</h4>
  </f7-col>
</f7-row>
    </f7-block>
    </f7-link>
     <f7-list style="margin-top:0px;margin-bottom:0px">
      <f7-list-item 
      title="Islampur" 
      media="/static/img/icons/pin.svg" 
      style="background-color:#BDBDBD;color:#ffffff"
      link="/location/"
      link-view="#main-view"
      panel-close
      reload-all></f7-list-item>
    </f7-list>
    <f7-list accordion style="margin-top:0px;margin-bottom:0px">
  <f7-list-item accordion-item title="MENS CLOTHING" style="font-size:13px">
    <f7-accordion-content>
      <f7-block>
      <f7-list accordion>
  <f7-list-item accordion-item title="TOP WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="T-Shirts"
        style="font-size:12px"
        link="/products/"
        link-view="#main-view"
        panel-close/>
        <f7-list-item 
        title="Formal Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Casual Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Jackets"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweatshirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kurtas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sherwanis"
        style="font-size:12px"/>
        <f7-list-item 
        title="Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Blazers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Pullovers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cardigans"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BOTTOM WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Jeans"
        style="font-size:12px"/>
        <f7-list-item 
        title="Trousers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cargos"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shorts & 3/4ths"
        style="font-size:12px"/>
        <f7-list-item 
        title="Track Pants"
        style="font-size:12px"/>
        <f7-list-item 
        title="Dhotis"
        style="font-size:12px"/>
        <f7-list-item 
        title="Lungis"
        style="font-size:12px"/>
        <f7-list-item 
        title="Pyjamas"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="SPORTS WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sports T-Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Track Pants"
        style="font-size:12px"/>
        <f7-list-item 
        title="Track Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shorts"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="INNERWEAR & SLEEPWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Briefs & Trunks"
        style="font-size:12px"/>
        <f7-list-item 
        title="Vests"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boxers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Thermals"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="FABRICS" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Shirt Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Multi-purpose Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kurta Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Trouser Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Suit Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Safari Fabrics"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="OTHERS" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Raincoats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Wind Cheaters"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="ACCESSORIES" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Socks"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ties"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cofflinks"
        style="font-size:12px"/>
        <f7-list-item 
        title="Mufflers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Scarfs"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shirt Studs"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cravats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Bandanas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Arm Warmers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Pocket Squares"
        style="font-size:12px"/>
        <f7-list-item 
        title="Handkerchiefs"
        style="font-size:12px"/>
        <f7-list-item 
        title="Suspenders"
        style="font-size:12px"/>
        <f7-list-item 
        title="Gloves"
        style="font-size:12px"/>
        <f7-list-item 
        title="Turbans"
        style="font-size:12px"/>
        <f7-list-item 
        title="Towels"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
    </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="WOMENS CLOTHING" style="font-size:13px">
    <f7-accordion-content>
      <f7-block>
      <f7-list accordion>
  <f7-list-item accordion-item title="WESTERN WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Tops"
        style="font-size:12px"/>
        <f7-list-item 
        title="Tunics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kaftans"
        style="font-size:12px"/>
        <f7-list-item 
        title="Body Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Polos & T-Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Dresses"
        style="font-size:12px"/>
        <f7-list-item 
        title="Jeans"
        style="font-size:12px"/>
        <f7-list-item 
        title="Trousers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Capris"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cargos"
        style="font-size:12px"/>
        <f7-list-item 
        title="Dungarees"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shorts & Skirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Fashion Jackets"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="ETHNIC WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sarees"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kurtas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Dress Materials"
        style="font-size:12px"/>
        <f7-list-item 
        title="Lehenga Choli"
        style="font-size:12px"/>
        <f7-list-item 
        title="Blouse"
        style="font-size:12px"/>
        <f7-list-item 
        title="Harem Pants"
        style="font-size:12px"/>
        <f7-list-item 
        title="Patialas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Leggings"
        style="font-size:12px"/>
        <f7-list-item 
        title="Anarkali"
        style="font-size:12px"/>
        <f7-list-item 
        title="Salwars"
        style="font-size:12px"/>
        <f7-list-item 
        title="Blouse Fabrics"
        style="font-size:12px"/>
        <f7-list-item 
        title="Chudidars"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="WINTER & SEASONAL" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sweaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Pullovers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweatshirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Jacket"
        style="font-size:12px"/>
        <f7-list-item 
        title="Raincoats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Windcheaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Cardigans"
        style="font-size:12px"/>
        <f7-list-item 
        title="Coats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ponchos"
        style="font-size:12px"/>
        <f7-list-item 
        title="Thermals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Winter Jackets"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shawls"
        style="font-size:12px"/>
        <f7-list-item 
        title="Mufflers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Gloves"
        style="font-size:12px"/>
        <f7-list-item 
        title="Socks"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="SPORTS & GYM WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Track Pants"
        style="font-size:12px"/>
        <f7-list-item 
        title="Track Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Track Tops"
        style="font-size:12px"/>
        <f7-list-item 
        title="T-Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Socks & Stockings"
        style="font-size:12px"/>
        <f7-list-item 
        title="Tights"
        style="font-size:12px"/>
        <f7-list-item 
        title="Caps"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sports Bras"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shorts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sports Jackets"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sarongs"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="LINGERIE & SLEEP WEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Bras"
        style="font-size:12px"/>
        <f7-list-item 
        title="Panties"
        style="font-size:12px"/>
        <f7-list-item 
        title="Night Dresses & Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Swim & BeachWears"
        style="font-size:12px"/>
        <f7-list-item 
        title="Gowns"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
    </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BABY AND KIDS" style="font-size:13px">
    <f7-accordion-content>
      <f7-block>
      <f7-list accordion>
  <f7-list-item accordion-item title="BOYS CLOTHING" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Polos & T-Shirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kurtas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Raincoats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Jackets"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweatshirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Pullovers"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BABY BOY" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sleep Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Body Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Polos & T-Shirts"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BABY GIRL" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sleep Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Body Suits"
        style="font-size:12px"/>
        <f7-list-item 
        title="Baby Girl Dresses"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="GIRLS CLOTHING" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Dresses"
        style="font-size:12px"/>
        <f7-list-item 
        title="Skirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Salwar Kurtas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Kurtas"
        style="font-size:12px"/>
        <f7-list-item 
        title="Lehenga Choli"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ethnic Sets"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sarees"
        style="font-size:12px"/>
        <f7-list-item 
        title="Mufflers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Thermals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sweatshirts"
        style="font-size:12px"/>
        <f7-list-item 
        title="Raincoats"
        style="font-size:12px"/>
        <f7-list-item 
        title="Jackets"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
    </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="FOOTWEAR" style="font-size:13px">
    <f7-accordion-content>
      <f7-block>
      <f7-list accordion>
  <f7-list-item accordion-item title="MENS FOOTWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sports Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Casual Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Formal Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sandals & Floaters"
        style="font-size:12px"/>
        <f7-list-item 
        title="Flip-Flops"
        style="font-size:12px"/>
        <f7-list-item 
        title="Slides"
        style="font-size:12px"/>
        <f7-list-item 
        title="Slippers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Loafers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boots"
        style="font-size:12px"/>
        <f7-list-item 
        title="Running Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sneakers"
        style="font-size:12px"/>
        <f7-list-item 
        title="Clogs"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="WOMENS FOOTWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Flat Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Heel Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Wedges Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sports Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Casual Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Formal Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boots"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ballerings"
        style="font-size:12px"/>
        <f7-list-item 
        title="Flip-Flops"
        style="font-size:12px"/>
        <f7-list-item 
        title="Slides"
        style="font-size:12px"/>
        <f7-list-item 
        title="Slippers"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BOYS FOOTWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Clogs"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sports Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Casual Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boots"
        style="font-size:12px"/>
        <f7-list-item 
        title="Flip-Flops"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ethnic Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="School Shoes"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="GIRLS FOOTWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Clogs"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sports Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Casual Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boots"
        style="font-size:12px"/>
        <f7-list-item 
        title="Flip-Flops"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ethnic Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="School Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Flat & Bellies"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BABY FOOTWEAR" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Sandals"
        style="font-size:12px"/>
        <f7-list-item 
        title="Shoes"
        style="font-size:12px"/>
        <f7-list-item 
        title="Boots"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
    </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="WATCHES" style="font-size:13px">
    <f7-accordion-content>
      <f7-block>
      <f7-list accordion>
  <f7-list-item accordion-item title="DIAL DISPLAY" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Analogue"
        style="font-size:12px"/>
        <f7-list-item 
        title="Digital"
        style="font-size:12px"/>
        <f7-list-item 
        title="Analogue Digital"
        style="font-size:12px"/>
        <f7-list-item 
        title="Binary"
        style="font-size:12px"/>
        <f7-list-item 
        title="Chronograph"
        style="font-size:12px"/>
        <f7-list-item 
        title="Time Teacher"
        style="font-size:12px"/>
        <f7-list-item 
        title="Smart Watches"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="DIAL SHAPE" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Asymmetrical"
        style="font-size:12px"/>
        <f7-list-item 
        title="Oval"
        style="font-size:12px"/>
        <f7-list-item 
        title="Rectangular"
        style="font-size:12px"/>
        <f7-list-item 
        title="Round"
        style="font-size:12px"/>
        <f7-list-item 
        title="Square"
        style="font-size:12px"/>
        <f7-list-item 
        title="Tonheau"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="BAND MATERIAL" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Leather"
        style="font-size:12px"/>
        <f7-list-item 
        title="Stainless Steel"
        style="font-size:12px"/>
        <f7-list-item 
        title="Rubber"
        style="font-size:12px"/>
        <f7-list-item 
        title="Gold Plated"
        style="font-size:12px"/>
        <f7-list-item 
        title="Silicon"
        style="font-size:12px"/>
        <f7-list-item 
        title="Plastic"
        style="font-size:12px"/>
        <f7-list-item 
        title="Ceramic"
        style="font-size:12px"/>
        <f7-list-item 
        title="Nylon"
        style="font-size:12px"/>
        <f7-list-item 
        title="Resin"
        style="font-size:12px"/>
        <f7-list-item 
        title="Rose Gold"
        style="font-size:12px"/>
        <f7-list-item 
        title="Silver"
        style="font-size:12px"/>
        <f7-list-item 
        title="Synthetic"
        style="font-size:12px"/>
        <f7-list-item 
        title="Titanium"
        style="font-size:12px"/>
        <f7-list-item 
        title="Tungsten"
        style="font-size:12px"/>
        <f7-list-item 
        title="Yellow Gold"
        style="font-size:12px"/>
      </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="PRICE" style="font-size:12px;font-weight:bold">
    <f7-accordion-content>
      <f7-block>
      <f7-list>
        <f7-list-item 
        title="Under Rs.499"
        style="font-size:12px"/>
        <f7-list-item 
        title="Under Rs.999"
        style="font-size:12px"/>
        <f7-list-item 
        title="Under Rs.1499"
        style="font-size:12px"/>
        <f7-list-item 
        title="Under Rs.1999"
        style="font-size:12px"/>
        <f7-list-item 
        title="Under Rs.2499"
        style="font-size:12px"/>
        </f7-list>
      </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
    </f7-block>
    </f7-accordion-content>
  </f7-list-item>
    </f7-list>
        <f7-list style="margin-top:0px;margin-bottom:0px">
        <!-- <f7-list-item
          link="/"
          title="Home"
          link-view="#main-view"
          panel-close
          reload-all
        /> -->
        <f7-list-item
          link="/wishlist/"
          title="WISHLIST"
          style="font-size:13px"
          link-view="#main-view"
          panel-close
          
        />
        <f7-list-item
          link="/hdorders/"
          title="HD ORDERS"
          style="font-size:13px"
          link-view="#main-view"
          panel-close
        />
        <f7-list-item
          link="/account/"
          title="ACCOUNT"
          style="font-size:13px"
          link-view="#main-view"
          panel-close
          
        />
      </f7-list>
      <f7-block style="margin-top:15px;margin-bottom:0px">
<h5 style="font-weight:normal">TERMS & CONDITIONS</h5>
<h5 style="font-weight:normal">SELL ON FASHIOSTREET</h5>
      </f7-block>
      <f7-block style="margin-top:10px;margin-bottom:10px;margin-left:auto;margin-right:auto;width:88%">
<f7-icon style="padding:10px" f7="icon-social_facebook"></f7-icon>
<f7-icon style="padding:10px" f7="icon-social_instagram"></f7-icon>
<f7-icon style="padding:10px" f7="icon-social_linkedin"></f7-icon>
<f7-icon style="padding:10px" f7="icon-social_twitter"></f7-icon>
      </f7-block>
    </f7-page>
  </f7-panel>
</template>

<script>
export default {
  name: 'LeftPanel',
  data() {
    return {
      isMaterial: window.isMaterial,
      isiOS: window.isiOS
    };
  },
  computed: {
    pageStyle() {
      return this.isiOS ? 'background-color: white;' : '';
    },
    panelEffect() {
      return this.isiOS ? 'reveal' : 'cover';
    }
  }
};
</script>

<style scoped>
@media (min-width: 960px) {
  .panel.panel-left {
    border-right: 1px solid #b2b2b2;
  }
}
</style>
