/* Your app styles here */
.bgnav.navbar {
    background-color:#BDBDBD;
  }
  .bgpage.page{
    color:#BDBDBD;
    background-color:#F5F5F5;
  }
  .cardt.card{
    height:30vh;
  }
  .cardm.card{
    height:30vh;
  }
  .mpzero{
    margin:0px;
    padding: 0px;
  }
  .bgsubnav.subnavbar {
    background-color:#BDBDBD;
  }


